{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "jest"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": 1,
    "react/jsx-filename-extension": 0
  },
  "env": {
    "jest": true,
    "browser": true
  }
}